@import '../../../global/global';

.footer{
    width: 100%;
    padding: 0 15px;
    height: 50px;    
    @include d-flex;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: #fff;
        align-items: center;
        font-weight: 300;
        .footer--icons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}